@model IEnumerable<MvcOOPHamburgerProject.Data.Entities.Concrete.Menu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var menu in Model)
{
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/customer/img/menu/@menu.ImageUrl" class="img-fluid rounded-start" alt="@menu.Name">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">@menu.Name</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var menuProduct in menu.MenuProducts)
                            {
                                <tr>
                                    <td>@menuProduct.Product.Name</td>
                                    <td>@menuProduct.Quantity</td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@menuProduct.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@menuProduct.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@menuProduct.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}