@model MvcOOPHamburgerProject.Data.Entities.Concrete.Order

@{
    ViewData["Title"] = "Card";
}
<partial name="_Header" />
<style>
    .order_section {
        padding: 20px;
    }

    .order-card {
        background-color: #192a56;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: #fff; /* Yazı rengi beyaz */
        padding: 20px;
        margin: 20px;
    }

        .order-card h4,
        .order-card h6 {
            background-color: rgba(255, 215, 0, 0.7);
        }

        .order-card table th {
            background-color: darkred;
            color: #fff; 
        }

</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<section class="order_section">
    <div class="container">
        <div class="order-card">
            <div>
                <h4>Your Card</h4>
                <h6>Order ID: @Model.Id</h6>
                <h6>Date: @Model.Date</h6>
                <h6>Status: @Model.Status</h6>

                <h3>Order Items:</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderDetails)
                        {
                            <tr>
                                <td>
                                    @if (item.Product != null)
                                    {
                                        @item.Product.Name
                                    }
                                    else if (item.Menu != null)
                                    {
                                        @item.Menu.Name
                                    }
                                </td>
                                <td>
                                    <div>
                                        @item.Quantity
                                    </div>
                                </td>
                                <td>
                                    @item.TotalPrice.ToString("C2")
                                </td>
                                <td>
                                    <form asp-area="" asp-controller="Home" asp-action="DeleteOrderDetail" method="post">
                                        <button class="btn btn-danger" type="submit" name=orderDetailId value="@item.Id"><i class="fa-solid fa-trash"></i></button>
                                    </form>
                                    <form asp-area="" asp-controller="Home" asp-action="EditOrderDetail" method="get">
                                        <button class="btn btn-success" type="submit" name="orderDetailId" value="@item.Id" data-toggle="modal" data-target="#editOrderDetailModal"><i class="fa-solid fa-pen"></i></button>
                                    </form>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="2">Total Price :</td>
                            <td>@Model.TotalPrice.ToString("C2")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<div class="form-group mb-3">
    @if (Model.Status == OrderStatus.Pending)
    {
        <form asp-area="" asp-controller="Home" asp-action="ConfirmOrder" method="post">
            <button type="submit" name="orderId" value="@Model.Id" class="btn btn-primary">Confirm Order</button>
        </form>
    }
    else if (Model.Status == OrderStatus.Confirmed)
    {
        <form asp-area="" asp-controller="Home" asp-action="CancelOrder" method="post">
            <button type="submit" name="orderId" value="@Model.Id" class="btn btn-primary">Cancel Order</button>
        </form>
    }
    else if (Model.Status == OrderStatus.Ready)
    {
        Model.Status = OrderStatus.Ready;
        <button type="submit" name="orderId" onclick="openEditOrderDetailModal()" value="@Model.Id" class="btn btn-primary" hidden></button>
    }
</div>
<partial name="_Footer" />
@section Scripts {
    <script>
        // Show toastr messages
        $(document).ready(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            var errorMessage = '@TempData["ErrorMessage"]';

            if (successMessage) {
                toastr.success(successMessage);
            }

            if (errorMessage) {
                toastr.error(errorMessage);
            }
        });

        // Function to show notifications when Model.Status changes
        function showNotification(status) {
            switch (status) {
                case 'Confirmed':
                    toastr["success"]("Your order has been confirmed.");
                    break;
                case 'Cancelled':
                    toastr["error"]("Your order has been cancelled.");
                    break;
                case 'Ready':
                    toastr["info"]("Your order is being prepared.");
                    break;
                default:
                    break;
            }
        }

        // Show notification for the current Model.Status when the page is loaded
        $(document).ready(function () {
            showNotification('@Model.Status');
        });

        function openEditOrderDetailModal() {
            $('#editOrderDetailModal').modal('show');
        }

    </script>
}